* {
    margin: 0px;
}
body {
    background-color: rgb(245, 203, 125)

}
.h1 {
    position: relative;
}
#h1 img { 
    height: 100%;
    width: 100%;
}
.phone {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, sans-serif;
    color: rgb(148, 80, 80);
}
.navbar-list {
    padding-top: 10px;
    background-color: rgb(245, 203, 125);
    text-align: center;  
    text-decoration-line: none;
}
.navbar-list li {
    padding: 50px;
}
.navbar li {
    color:rgb(148, 80, 80);
    text-decoration-line: none;
    list-style-type: none;
    display: inline;
    width: 100%;
    font-size: 20px;
}
@media screen and (max-width: 420px) {
   .navbar-list li{
    padding: 10px; 
    display:block;
    width:100%
    }
}
@media screen and ( max-width: 800px) and (min-width: 420px) {
    .navbar-list li{
     padding: 30px; 
     }
 }
a {
    color:rgb(148, 80, 80);
    text-decoration: none;
}
a:hover {
    color: rgb(86, 86, 86);
}
.author p {
    color: black;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 45%;
}